# EditorConfig helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs.
# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
charset = utf-8

# 2 spaces for indentation
indent_style = space
indent_size = 2

# Tab width
# tab_width = 2

# Maximum line length
max_line_length = 80

# Use single quotes
# quote_type = single

[*.json]
indent_size = 2

[*.md]
indent_size = 2
max_line_length = 100
